<section class='test'>
  <div class='parallax-small parallax-small__signup'>
    <div class="parallax-small--title"> Sign Up </div>
  </div>
</section>

<div class='bumper-25'></div>
<div class='bumper-25'></div>
<section>
  <div class='signup-form'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <!-- LEFT SIDE FORM -->
    <div class="signup-form--left">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name, autofocus: true %>
      <!-- <p class='error'><%= show_errors(resource, 'First name') %></p> -->

      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name %>
      <!-- <p class='error'><%= show_errors(resource, 'Last name') %></p> -->

      <%= f.label :username, "Username" %>
      <%= f.text_field :username %>
      <!-- <p class='error'><%= show_errors(resource, 'Username') %></p> -->

      <%= f.label :email, "Email" %>
      <%= f.email_field :email %>
      <!-- <p class='error'><%= show_errors(resource, 'Email') %></p> -->

      <%= f.label :password %>
      <!-- <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br /> -->
      <%= f.password_field :password, autocomplete: "off" %>
      <!-- <p class='error'><%= show_errors(resource, 'Password') %></p> -->

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>

      <div class="row">
        <div class="columns small-3">
          <%= f.label :is_student, "Student", value: true %>
          <%= f.radio_button :is_student, true %>
        </div>
        <div class="columns small-3">
          <%= f.label :is_student, "Teacher", value: false %>
          <%= f.radio_button :is_student, false %>
        </div>
      </div>

      <%= f.file_field :profile_photo %>

      <div class='text-center'>
        <%= f.submit "Sign Up", class: 'button' %>
      </div>
    </div>
    <!-- END LEFT SIDE FORM -->

    <div class="signup-form--or">OR</div>

    <!-- RIGHT SIDE FORM -->
    <div class="signup-form--right">
      <span class="signup-form--right--title">Sign in with<br />Social Media</span>

      <button class="signup-form--right--social-buttons signup-form--right--social-buttons__facebook">Log in with Facebook</button>
      <button class="signup-form--right--social-buttons signup-form--right--social-buttons__linkedin">Log in with LinkedIn</button>
      <button class="signup-form--right--social-buttons signup-form--right--social-buttons__google">Log in with Google</button>
    </div>
    <!-- END RIGHT SIDE FORM -->
    <% end %>
  </section>

    <!-- <%= devise_error_messages! %> -->

    <section>
      <div className='row'>
        <div className='columns small-12 small-centered text-center'>
          <a href='/' className='button'>Home</a>
        </div>
      </div>
    </section>

<div class='bumper-25'></div>
<div class='bumper-25'></div>
