<section class='test'>
  <div class='parallax-small parallax-small__profile-page--edit'>
    <div class="parallax-small--title"> Edit Profile </div>
  </div>
</section>

  <div class='bumper-25'></div>
  <div class='bumper-25'></div>


<section>
  <div class="login-box">
    <%= form_for(@user) do |f| %>

    <div class="login-box--field">
    <%= f.label :instruments_played, 'My Instrument' %>
    <%= f.collection_select :instruments_played, @instrument_played, :first, :last %>
    </div>

    <div class="login-box--field">
    <%= f.label :favotorite_genre, "Favorite Genre" %>
    <%= f.collection_select :favotorite_genre, @favorite_genre, :first, :last %>
    </div>

    <div class="login-box--field">
    <%= f.label :years_experience, 'Years of Experience' %>
    <%= f.collection_select :years_experience, @experience, :first, :last %>
    </div>

    <div class="login-box--field">
    <%= f.file_field :profile_photo %>
    </div>

    <div class="login-box--field">
    <%= f.label :about_me, "About Me" %>
    <%= f.text_area :about_me, :size => "5x4" %>
    </div>

    <div class='login-box--submit-container'>
      <%= f.submit "Update Profile", class: 'button' %>
    </div>
    <% end %>

    <a href='/users/<%= @user.id %>'>Go Back</a>
  </div>

</section>

<div class='bumper-25'></div>
<div class='bumper-25'></div>
