<section class='test'>
  <div class='parallax-small parallax-small__profile-page'>
    <div class="parallax-small--title"> Edit Profile </div>
  </div>
</section>

  <div class='bumper-25'></div>
  <div class='bumper-25'></div>

<section>
  <div class='container'>
    <div class='row'>

      <div class='columns small-12 medium-9'>
        <div class='profile-card'>
          <% if @user.profile_photo %>
            <div class='profile-card--img-wrapper'>
              <img class='profile-card--img' src="<%= @user.profile_photo %>" alt="User Profile Picture" />
            </div>
          <% end %>

          <div class='profile-card--main-info'>
            <div class='profile-card--main-info__name'>
              <h4> <%= @user.first_name %> <%= @user.last_name %></h4>
            </div>
            <div class='profile-card--main-info__email'>
              <p> <strong>Email</strong> | <%= @user.email %>  </p>
            </div>
            <% if @user == @current_user %>
              <div class='profile-card--main-info__cta'>
                <%= link_to 'Edit Profile', edit_user_path(@user), class: '' %>
              </div>
            <% end %>
          </div>

          <div class="clearfix"></div>
          <div class="bumper-25"></div>
          <hr style="width:75%;">
          <div class="bumper-25"></div>

          <div class="profile-card--additional-info">
            <% if @user.instruments_played %>
              <div class='profile-card--additional-info__instrument'>
                <h4> My Instrument </h4>
                <p><%= @user.instruments_played %></p>
              </div>
            <% end %>
            <% if @user.favotorite_genre %>
              <div class='profile-card--additional-info__genre'>
                <h4> My Favorite Genre </h4>
                <p><%= @user.favotorite_genre %></p>
              </div>
            <% end %>
            <% if @user.about_me %>
              <div class='profile-card--additional-info__experience'>
                <h4> Experience </h4>
                <p><%= @user.years_experience %> years experience</p>
              </div>
            <% end %>
            <% if @user.about_me %>
              <div class='profile-card--additional-info__about'>
                <h4> About Me </h4>
                <p><%= @user.about_me %></p>
              </div>
            <% end %>
          </div>

        </div>
      </div>

      <div class='columns small-12 medium-3'>
        <h4><%= @user.first_name %>'s Lessons</h4>
        <% if !@current_user.is_student? %>
          <%= link_to 'Add a lesson', new_lesson_path, class: '' %>
        <% end %>
        <div class="bumper-25"></div>
        <!-- React component for all of teacher created lessons -->
        <div id='teacher-lessons'></div>
      </div>

    </div>
  </div>
</section>

<div class='bumper-100'></div>
