<section class='test'>
  <div class='profileHeader'>
    <div class='profileText'>

      <h1><%= @user.username %></h1>

      <!-- <div class='row arrow-thingy'> -->
        <div class='arrow text-center animated bounce'>
          <a href='#profile-photo'><%= image_tag "arrow.png" %></a>
        </div>
      <!-- </div> -->

    </div>
  </div>
</section>


<section>
  <div class='container'>
    <div class='row'>
      <%= link_to 'Edit Profile', edit_user_path(@user), class: 'button' %>
    </div>

    <div class='row'>

      <div class='columns small-12 medium-6 text-center'>
        <% if @user.profile_photo %>
          <img id='profile-photo' src="<%= @user.profile_photo %>" alt="User Profile Picture" width=300px height=300px />
        <% end %>

        <h1> <%= @user.username %> </h1>

          <p> Email: <h3><%= @user.email %></h3> </p>

        <% if @user.about_me %>
          <h1> About Me </h1>
          <p><%= @user.about_me %></p>
        <% end %>
      </div>

      <div class='columns small-12 medium-6 text-center'>
        <% if !@user.is_student? %>
          <%= link_to 'Create Lesson', new_lesson_path, class: 'button' %>
        <% end %>
        <!-- React component for all of teacher created lessons -->
        <div id='teacher-lessons'></div>
      </div>

    </div>
  </div>
</section>
