<section class='profileHeader'>

    <div class='row profile-name-parallax-display'>
      <div class='columns small-12 text-center'>
        <h1><%= @user.username %></h1>
      </div>
    </div>

    <div class='row arrow-thingy'>
      <div class='column small-12 text-center animated bounce'>
        <%= image_tag "arrow.png" %>
      </div>
    </div>

</section>

<section>
  <div class='row'>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
  </div>
  <div class='row'>
    <div class='columns small-12 medium-6'>
      <!-- React component for all of teacher created lessons -->
      <div id='teacher-lessons'/>
    </div>

    <div class='columns small-12 medium-6 small-centered'>
      <img src="<%= @user.profile_photo %>" alt="User Profile Picture" width="300px" height="auto"/>

      <h1> Username: </h1><h3><%= @user.username %></h3>

      <h1> Email: </h1><h3><%= @user.email %></h3>

      <% if @user.about_me %>
        <h1> About Me </h1>
        <p><%= @user.about_me %></p>
      <% end %>

    </div>
  </div>
</section>
