<section class='test'>
  <div class='parallax-small parallax-small__lesson-page'>
    <div class="parallax-small--title"> Create a New Lesson </div>
  </div>
</section>

<div class='bumper-25'></div>
<div class='bumper-25'></div>

<% if @lesson.errors.any? %>
  <section>
    <ul class='text-center'>
      <% @lesson.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </section>
  <div class='bumper-25'></div>
<% end %>

<section>
  <div class='form-box'>
    <%= form_for @lesson do |f| %>

      <div class='field'>
        <%= f.label :instrument, "Instrument" %>
        <%= f.collection_select :instrument, @instrument_collection, :first, :last %>
        <p class='error'><%= show_errors(@lesson, 'Instrument') %></p>
      </div>

      <div class='field'>
        <%= f.label :skill_level, "Skill Level" %>
        <%= f.collection_select :skill_level, @skill_level_collection, :first, :last  %>
        <p class='error'><%= show_errors(@lesson, 'Skill Level') %></p>
      </div>

      <div class='field'>
        <%= f.label :date, "Date" %>
        <%= f.text_field :date, placeholder: "ex 09/29/1987", type:'date' %>
        <p class='error'><%= show_errors(@lesson, 'Date') %></p>
      </div>

      <div class='submit-container'>
        <%= f.submit "Submit", class: 'button' %>
      </div>
    <% end %>

  </div>
</section>

<div class='bumper-100'></div>
